@page "/cardrequest/new"
@using Client.Components.Common
@using MudBlazor
@using Infrastructure.ApiClient
<MudCard Style="width: 50%; padding: 20px;">
    <div class="d-flex justify-center">
        <img src="full-stack-hero-logo.png" Style="height:120px" />
    </div>
    <div class="fsh-center-text">
        <MudText Typo="Typo.h4" GutterBottom="true">Identificaation Card</MudText>
        <MudText>Enter the unique membership number.</MudText>
    </div>
    <br />
    <EditForm Model="@UserRequest" OnValidSubmit="SubmitAsync">
        <MudGrid>
            <DataAnnotationsValidator />
            <CustomValidation @ref="_customValidation" />
            <MudItem xs="12">
                <MudTextField T="string" Label="Membership No" Variant="Variant.Outlined" @bind-Value="UserRequest.ExternalId"
                              For="@(() => UserRequest.ExternalId)" />
            </MudItem>
            <MudItem xs="12" Class="d-flex justify-center">
                <MudButton ButtonType="ButtonType.Submit" Disabled="BusySubmitting" Variant="Variant.Filled"
                           Color="Color.Primary" Size="Size.Large" StartIcon="@Icons.Filled.Login" Style="width: 100%;">Search</MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudCard>