@page "/app-configurations/{key}"
@inject NavigationManager uriHelper;


@if (_loading)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <EditForm Model="AppConfiguration" OnValidSubmit="Update">
        <MudCard Elevation="4" Class="p-3">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6"> Edit App Configuration</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <Grid>
                    <GridItem xs="12" md="4">
                        <div class="d-flex mb-2">
                            <MudTextField @bind-Value="AppConfiguration.Key" Label="Key" Variant="Variant.Filled" Color="Color.Primary" class="mr-2" ReadOnly="true" />
                        </div>
                    </GridItem>

                    <GridItem xs="12" md="8">
                        <div class="d-flex mb-2">
                            <MudTextField @bind-Value="AppConfiguration.Value" Label="Value"
                                          Lines="@CalculateLines(AppConfiguration.Value)" Variant="Variant.Filled"
                                          Color="Color.Primary" Multiline="true" class="mr-2" />
                        </div>
                    </GridItem>
                    <GridItem class="ml-auto">
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" StartIcon="@Icons.Filled.Save"
                                   ButtonType="ButtonType.Submit" Disabled="@BusySubmitting">Update</MudButton>
                    </GridItem>
                </Grid>

            </MudCardContent>

        </MudCard>
    </EditForm>
}