@page "/cardrequest/new"
@using Client.Components.Common
@using MudBlazor
@using Infrastructure.ApiClient
<MudCard Style="max-width: 600px; margin: auto; padding: 32px;">
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <img src="ecard.jpg" Size="Size.Large" Style="width: 120px; height: 120px;" />
    </div>
    @* <MudText Typo="Typo.h4" GutterBottom="true" Align="Align.Center">Identification Card Request</MudText> *@
    <MudText Align="Align.Center" Color="Color.Primary">Please, input the member verification/identification number.</MudText>
    <EditForm Model="@UserRequest" OnValidSubmit="SubmitAsync" Class="mt-4">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <MudGrid Justify="Justify.Center">
            <MudItem xs="12" md="8">
                <MudTextField Style="color:#084545"  T="string" Label="Identification No" Variant="Variant.Outlined" FullWidth @bind-Value="UserRequest.ExternalId"
                              HelperText="Field is required." />
            </MudItem>
            <MudItem xs="12" md="4" Style="padding-top: 16px;">
                <!-- Added padding for alignment with the text field -->
                <MudButton ButtonType="ButtonType.Submit" Disabled="@BusySubmitting" Variant="Variant.Filled"
                           Color="Color.Primary" Size="Size.Large" Style="background-color:#084545"  FullWidth StartIcon="@Icons.Filled.Search">
                    Submit
                </MudButton>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudCard>